.about {
    min-height: 92.5vh;
    margin: 0 auto;
    position: relative;
    top: 72px;
    background-color: #d9a4ff;
    /* background-color: black; */
    /* color: white; */
    padding: 3rem 2rem 2rem;
    border-bottom: 3px solid black;
}
.about h1 {
    box-sizing: border-box;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.about .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 2rem;
}

.about .container .text {
    padding: 0 3rem;
    box-sizing: border-box;
    font-size: 1.2rem;
}


.about img {
    margin: auto;
    width: 300px;
    box-sizing: border-box;
    border-radius: 100%;
    border: 3px solid black;
}

@media (max-width: 960px) {
    .about .container {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .about img {
        margin: 2rem auto;
        width: 225px;
    }
    .about .container .text {
        padding: 0;
    }
} 