.about {
    min-height: 89vh;
    /* max-width: 1280px; */
    margin: 0 auto;
    position: relative;
    top: 72px;
    background-color: #d9a4ff;
    /* background-color: black; */
    /* color: white; */
    padding: 3rem 2rem 2rem;
    border-bottom: 3px solid black;
}
.about h1 {
    /* text-align: center; */
    box-sizing: border-box;
    font-size: 3rem;
    margin-bottom: 2rem;;
    /* color: #d9a4ff; */
}

.about .container {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: flex-start;
    padding: 0 2rem;
    /* flex-wrap: wrap; */
}

.about .container .text {
    /* max-width: 768px; */
    padding: 0 3rem;
    box-sizing: border-box;
    font-size: 1.2rem;
}

.about .img {
    /* width: fit-content; */
}
.about img {
    margin: auto;
    width: 300px;
    /* padding: 2rem; */
    box-sizing: border-box;
    border-radius: 100%;
    border: 3px solid black;
}

