.project-card {
    min-width: 300px;
    max-width: 350px;
    min-height:460px;
    background-color: #131213;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 15px;
    height: 100%;
    margin: 0 2rem 3rem 2rem;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    /* line-height: 1.5rem; */
    text-decoration: none;
    color: white;
}
.project-card div {
    padding: 1rem;
}

.project-card div img {
    filter: invert(1);
    width:2rem;
    margin: 0.5rem 0;
}

.project-card span {
    margin-right: 1rem;
}

.project-card:hover {
    background-color: #E2F169;
    box-shadow: rgba(210, 232, 83, 0.464) 0px 5px 15px;
    color: black;
}