* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

html {
    font-family: 'Avenir Next LT Pro', sans-serif;
    font-size: 16px;
    color: #3e3e3e;
}

body {
    max-width: 1280px;
    background-color: white;
    margin: auto;
}

/* header */
#desktop {
    max-width: 1280px;
    width: 100%;
    height: 64px;
    padding: 0 24px;
    box-sizing: border-box;
    background-color: white;
    position: fixed;
    z-index: 2;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

#desktop .logo {
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#desktop .logo img {
    margin-top: 5px;
}

#desktop .logo h1 {
    margin: 5px;
    font-weight: 500;
    font-size: 24px;
}

#desktop .logo span {
    font-weight: 700;
}

#desktop nav {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}

#desktop nav a {
    padding-left: 16px;
    text-decoration: none;
    color: #3e3e3e;
}


#mobile {
    display: none;
}

/* main */

main {
    display: block;
    margin: auto;
    position: relative;
    top: 64px;
}

#banner {
    display: flex;
    align-items: center;
    padding: 32px 24px;
    background-color: #d7d7d7;
}

#banner img {
    width: 60%;
}

#banner .banner-text {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

#banner .banner-text h1 {
    margin: 24px 0;
    font-size: 2.8rem;;
    font-weight: bolder;
  }
  
#banner .banner-text p {
    font-weight: 400;
    font-size: 1.75rem;
  }
  
#banner .banner-text button {
    color: white;
    background-color: #3e3e3e;
    font-size: 1.25rem;
    border: unset;
    padding: 8px 0px;
    margin-top: 24px;
  }

#infomation {
    display: inline-flex;
  }

#infomation .main-container {
    width: 60%;
    padding: 32px 24px;
    border-right: 1px solid #d7d7d7;
}

#infomation .main-container img {
    width: 100%;
    margin-bottom: 32px;
}

#infomation .main-container h1 {
    margin-bottom: 24px;
    font-size: 2.75rem;
}

#infomation .main-container p {
    font-size: 1.25rem;
    margin-bottom: 24px;
}

#infomation .container {
    width: 40%;
}

#infomation .small-container {
    padding: 16px;
    display: inline-flex;
    align-items: center;
    border-bottom: 1px solid #d7d7d7;
}
#infomation .small-container img {
    width: 35%;
    margin-right: 16px;
}

#infomation .container img.mobile {
    display: none;
}

#infomation .small-container h3 {
    font-size: 1.75rem;
}

#infomation .small-container p {
    font-size: 1.25rem;
    margin: 8px 0;
}

#infomation .small-container a {
    font-size: 1.25rem;
    color: #5596e3;
    text-decoration: none;
}

#infomation #guest-lecture {
    background-color: #d7d7d7;
}

#course {
    padding: 32px 72px;
    background-color: #eaebec;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#course h1 {
    font-size: 2.75rem;
}

#course .container {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

#course .course-container {
    max-width: 340px;
    margin: 32px 16px;
    background-color: white;
}

#course .course-container img {
    width: 100%;
    height: auto;
}

#course .course-container h2 {
    width: 100%
}

#course .course-container .text-container {
    padding: 16px;
}

#course .course-container h2 {
    font-size: 1.75rem;
}

#course .course-container p {
    margin: 8px 0;
    width: 100%;
    font-size: 1.1rem;
}

#thesis {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
}


#thesis h1 {
    font-size: 2.75rem;
    margin-bottom: 32px;
}

#thesis .content {
    display: inline-flex;
}

#thesis .main-container {
    width: 60%;
    padding: 0 24px;
}

#thesis .main-container video {
    width: 100%;
    margin-bottom: 24px;
}

#thesis .main-container h1 {
    margin-bottom: 8px;
    font-size: 2.75rem;
}

#thesis .main-container p {
    font-size: 1.25rem;
}

#thesis .container {
    width: 40%;
}

#thesis .small-container {
    padding: 16px;
    display: inline-flex;
    align-items: center;
    border-bottom: 1px solid #d7d7d7;
}
#thesis .small-container img {
    width: 35%;
    margin-right: 16px;
}

#thesis .small-container h3 {
    font-size: 1.75rem;
}

#thesis .small-container p {
    font-size: 1.25rem;
    margin: 8px 0;
}

#thesis  #fisma {
    background-color:#d7d7d7;
}

/* footer */
footer {
    width: 100%;
    max-width: 1280px;
    box-sizing: border-box;
    position: relative;
    top: 64px;
    padding: 16px 24px;
    display: inline-flex;
    justify-content: space-between;
    border-top: 1px solid #d7d7d7;
}

footer h6 {
    font-size: 0.8rem;
    color: #3e3e3e;
}

.legal a {
    padding-left: 16px;
    text-decoration: none;
}

.legal a, .legal a:visited {
    padding-left: 16px;
    text-decoration: none;
    color: #3e3e3e;
}
/* media */