.skill-container {
    margin: 0 auto;
    padding: 3rem;
    max-width: 625px;
}

.skill-container .skills {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

.skill-container .skills h2 {
    /* text-align: right; */
    min-width: 120px;
    margin-right: 2rem;
    /* color: white; */
}

.skills {
    display: inline-flex;
    flex-wrap: wrap;
}