.resume {
    position: relative;
    top: 72px;
    margin: 0 auto;
    background-color: #ffe838;
    min-height: 100vh;
}

.resume div {
    margin: auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resume h1 {
    box-sizing: border-box;
    font-size: 3rem;
    margin: 3rem 0;
}

.resume .button {
    margin-right: 0;
    text-align: center;
}

.resume img {
    width: 100%;
    border: 3px solid black;
    box-sizing: border-box;

}


