section {
    border-bottom: 3px solid black;
}
/* banner */
#banner {
    height: 91vh;
    width: 100hh;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

#banner div {
    padding: 1rem;
    box-sizing: border-box;
    height: 91.1vh;
}

#banner .text {
    width: 70%;
    padding:2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#banner h1 {
    font-size: 8rem;
    font-weight: 900;
    line-height: 7rem;
    margin: 0;
}

#banner p {
    font-size: 1.75rem;
    margin: 2.5rem 0;
}

#banner span {
    display: flex;;
}

#banner .image {
    border-left: 3px solid black;
    border-bottom: 1px solid black;
    /* background-color: #00eb04; */
    background-color: #a1ff72;
    /* height: 721px; */
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner .image img {
    padding: 0 2rem;
    width: 100%;
}

.button-container {
    margin-top: 2rem;
}


/* projects */
#projects {
    box-sizing: border-box;
    background-color: #ff5555;
}

#projects .button {
    display: flex;
    margin:  0 auto 3rem;
}

#projects .project-head {
    width: 100%;
    /* position: relative; */
    overflow: hidden;
    /* height: 100vh; */
    background-color: black;
    white-space: nowrap;
}

#projects .project-head h3 {
    margin: 0;
    width: 200%;
    font-size: 5rem;
    color: white;
    animation: animate 20s linear infinite;
    /* transform: translate(0, -50%); */
    animation-delay: -10s;
}

#projects .project-head:nth-child(2) {
    animation: animate2 20s linear infinite;
    animation-delay: -10s;
}

@keyframes animate {
    0% {
        transform: translateX(0%);
        /* left: 0; */
    }
    100% {
        transform: translateX(-100%);
        /* left: -100%; */
    }
}

@keyframes animate2 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(200%);
    }
}

/* skills */
#skills {
    min-height: 720px;
    margin: 0 auto;
    display: flex;
}
#skills .sk {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
}

#skills .head {
    border-bottom: 3px solid black;
    width: 100%;
    height:100%;
    background-color: #ffe838;
    color: black;

}

#skills .head h1 {
    margin: 4rem 0;
    font-size: 3rem;
    text-align: center;
}

#skills .sk .body {
    display: flex;
    align-items: center;
    height: 100%;
    /* background-color: #ff80e6; */
    background-color: #03ca74;
    color: black;
}

#skills .img {
    width: fit-content;
    /* padding: 2.5rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 3px solid black;
    background-color: #20c0ff;

}
#skills .img .container {
    padding: 2rem;
}
#skills .img .container div {
    box-sizing: border-box;
    padding: 2rem;
    /* margin: 8rem; */
    border: 3px solid black;
    background-color: #d268ff;
    border-radius: 100%;
    width: 100%;
    display: block;
}

#skills .img img {
    /* width: 100%; */
    /* box-sizing: border-box; */
}

/* contact */
#contact {
    min-height: 50vh;
    margin: 0 auto;
    padding: 4rem;  
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
    background-color: #000000;
    color: white;
}

#contact .info img {
    width: 2rem;
    height: 2rem;
    margin-top: 0.75rem;
    margin-right: 1rem;
    filter: invert(1);
}

#contact .info img:hover {
    /* filter: invert(0.5); */
}

#contact h1 {
    font-size: 4rem;
    margin: 3rem 0;
}

#contact p {
    font-size: 1.25rem;
    line-height: 0.5rem;
    /* margin: 3rem 0; */

}

#contact a {
    text-decoration: none;
    /* color: black; */
    color: white;
    display: inline-flex;
    margin-top: 2rem;

}

#contact a img:hover {
    filter: invert(24%) sepia(55%) saturate(6805%) hue-rotate(265deg) brightness(99%) contrast(105%);
}

#contact .img img {
    width: 100%;
}


@media (max-width:1024px) {
    #banner {
        flex-direction: column-reverse;
        align-items: center;
        min-height: 100vh;
        /* margin-top: 4rem; */
        width: 100%;
        /* position: relative; */
        /* top: 71px; */
    }
    
    #banner .text, #banner .image{
        width: 100%;
        border: none;
        
    }
    
    #banner .text{
        margin-top: 2rem;
        padding-bottom: 4rem;
    }

    #banner .image{
        padding-top: 4rem;
        border-bottom: 3px solid black;
    }

    #banner .image img {
     width: 400px;
    }

    #skills {
        flex-direction: column;
    }

    #skills .img, #skills .sk {
        width: 100%;
        box-sizing: border-box;
    }

    #skills .img {
        border-bottom: 3px solid black;
    }

    #skills .img img{
        max-width: 300px;
    }

    #contact {
        flex-direction: column;
        
        min-height: 75vh;
    }

    #contact .img {
        width: 300px;
    }
}

@media (max-width: 480px) {

    #banner {
        margin-top: 2rem;
        /* align-items: center; */
        justify-content: center;
        /* width: 120%; */
        /* flex-direction: column; */
    }
    #banner .text {
        margin: 0;
        /* padding: 0; */
    }

    #banner .text p {
        margin: 1.5rem;
    }

    #banner .text h1 {
        font-size: 6rem;
        line-height: 5rem;
    }

    #banner .text p {
        font-size: 1.25rem;
    }


    #banner .image {
        max-height: 380px;
        /* width: 120%; */
    }
    #banner .image img {
        width: 300px;
        /* z-index: 20; */
    }

    #projects {

    }
}

@media (max-height: 700px) {
    #banner {
        margin-top: 4.5rem;
        padding-bottom: 3rem;
    }
}