.home {
}
/* banner */
#banner {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    color: white;
    line-height: 1.75rem;
}

#banner .text {
    display: flex;
    flex-direction: column;
    /* margin: 1rem; */
}

#banner h1 {
    font-size: 5.5rem;
    line-height: 5rem;
}

#banner p {
    font-size: 1.5rem;
}

.button-container {
    margin: 2rem 0;
}

/* projects */
#projects {
    margin: 3rem auto;
    padding: 5rem 2rem;  
    box-sizing: border-box;
}

#projects h1 {
    margin-bottom: 5rem;
    font-size: 3rem;
    text-align: center;
}

#projects .button {
    display: flex;
    margin: 0 2rem;
    justify-content: center;
}

/* skills */
#skills {
    min-height: 50vh;
    margin: 0 auto;
    padding: 5rem 2rem;  
    /* background-color: #f5faff;
    color: black; */
}

#skills h1 {
    
    margin-bottom: 5rem;
    font-size: 3rem;
    text-align: center;
}

/* contact */
#contact {
    min-height: 50vh;
    /* max-width: 1280px; */
    margin: 0 auto;
    padding: 4rem;  
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    /* background-color: #ba72fe; */
    /* background-color: #9529ff; */
    /* background: rgb(149,41,255); */
    /* background: linear-gradient(152deg, rgba(149,41,255,1) 33%, rgba(206,174,238,1) 100%); */
    /* color: black; */
}

#contact img {
    width: 2rem;
    height: 2rem;
    margin-top: 0.75rem;
    margin-right: 1rem;
    filter: invert(1);
}

#contact img:hover {
    filter: invert(0.1);
}

#contact h1 {
    font-size: 4rem;
}

#contact p {
    font-size: 1.25rem;
    line-height: 0.5rem;
}

#contact a {
    text-decoration: none;
    /* color: black; */
    color: white;
    display: inline-flex;
}
/* 
#contact img:hover {
    filter: invert(24%) sepia(55%) saturate(6805%) hue-rotate(265deg) brightness(99%) contrast(105%);
} */

#contact a:hover {
    color: #ba72fe;
}