.footer .hidden {
    display: none;
}

.footer .container {
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer a {
    color: black;
}

@media (max-width: 520px) {
    .footer .hidden {
        display: block;
    }
    .footer .container .name {
        width: 100%;
        display: flex;
        justify-content: space-between;

    }
    .footer .credit {
        display: none;
    }
}