.notfound {
    height: 90vh;
    max-width: 1280px;
    margin: 0 auto;
    /* padding-top: 4rem; */
}
.notfound h1 {
    text-align: center;
    padding: 2rem;
    box-sizing: border-box;
    font-size: 10rem;
}
